body {
  font-family: "Jost", sans-serif;
  font-weight: 400;
  font-size: 22px;
  color: #4d5053;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  width: 1200px;
  /* padding: 0 100px; */
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 26px;
}

.header-list {
  display: flex;
}

.header-list-item:not(:last-child) {
  margin-right: 40px;
}

.header-list-item {
  font-size: 19px;
  line-height: 1.58;
  letter-spacing: 0.4px;
  color: #292f36;
}

.header-list-item:hover {
  color: #cda274;
}

/* main */

.hero-section {
  height: 831px;
  max-width: 100%;

  background-image: url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-size: 80px;
  line-height: 1.2;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 20px;
  padding-top: 195px;
}

.hero-text {
  font-size: 22px;
  line-height: 1.5;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-bottom: 35px;
}

.hero-button {
  border: 2px solid #292f36;
  border-radius: 18px;
  background-color: #292f36;
  padding: 22px 34px;
  color: white;
  display: flex;
  align-items: center;
}

.arrow {
  width: 55px;
  margin-left: 15px;
}

/* features */

.features-section {
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 75px 0;
}

.features-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 25px;
  line-height: 39px;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 17px;
}

.features-text {
  width: 317px;
  font-family: "Jost";
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-bottom: 48px;
  text-align: center;
}
.features-link {
  display: flex;
  align-items: center;
  font-family: "Jost";
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.36px;
  color: #4d5053;
}

.features-link::after {
  content: "";
  width: 24px;
  height: 17px;
  background-image: url("../images/arrowbutton.png");
  margin-left: 6px;
}

/* challengin designs */

.designs-section {
  margin-bottom: 140px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.designs-title {
  font-family: "DM Serif Display";
  width: 450px;
  font-weight: 400;
  font-size: 50px;
  line-height: 65px;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 42px;
}
.designs-text {
  font-family: "Jost";
  width: 531px;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4d5053;
  margin-bottom: 30px;
}

.contact {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
.design-number {
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.22px;
  color: #4d5053;
}
.design-number-text {
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
}
.design-phone-button {
  margin-right: 20px;
  height: 93px;
}

.designs-link {
  background: #292F36;
  border-radius: 18px;
  padding: 22px 34px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.72px;
  color: #FFFFFF;
  position: relative;
  width: 263px;
  height: 71px;
  display: flex;
  border: none;
}

.designs-link-arrow {
  position: absolute;
  top: 17px;
  right: 25px;
}

/* opinions about interno */

.opinions-section {
  margin-bottom: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #F4F0EC;
  border-radius: 70px;
  padding: 82px 42px 100px;
}

.opinions-title {
  font-family: "DM Serif Display";
  font-weight: 400;
  font-size: 45px;
  line-height: 74px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292f36;
  margin-bottom: 45px;

}

.opinions-list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.opinions-list-item {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 42px 30px 42px ;
}
.item-header {
  display: flex;
  margin-bottom: 26px;
}
.user-photo {
  width: 64px;
  height: 64px;
  margin-right: 30px;
}
.photos {
}
.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.user-name {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 0.22px;
  color: #292F36;
}
.user-location {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 15px;
  letter-spacing: 0.22px;
  color: #4D5053;
  margin-top: 5px;
}
.item-content {
}
.opinion-text {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  letter-spacing: 0.22px;
  color: #4D5053;
}


/* brands */

.brands-section {
  margin-bottom: 100px;
}
.brands-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* recent project */

.project-section {
  margin-bottom: 80px;
}
.project-section-title {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 47px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
  margin-bottom: 20px;
}
.project-section-text {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
  margin-bottom: 70px;

}
.project-section-list {
  display: flex;
  flex-wrap: wrap;
  gap: 60px 20px;
}
.project-section-list-item {
  flex-basis: calc((100% - 20px) / 2);
}

.project-item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.project-item-text {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 24px;
  line-height: 38px;
  letter-spacing: 0.22px;
  color: #292F36;
  margin-top: 24px;

}
.project-item-category {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

/* statistics */

.stats-section {
  height: 475px;
  background-color: #F4F0EC; 
  padding: 140px 0;
  margin-bottom: 130px;
}

.stats-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.stats-item {
  width: 288px;
  height: 195px;
}

.stats-item:not(:last-child) {
  border-right: 1px solid #CDA274;
  margin-right: 16px;
}

.stats-number {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 85px;
  line-height: 128px;
  text-align: center;
  letter-spacing: 1.7px;
  color: #CDA274;
}

.stats-text {
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
}

/* projects */



.projects-title {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 48px;
  line-height: 62px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #292F36;
  padding-bottom: 20px;
}
.projects-text {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #4D5053;
  margin-bottom: 70px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 20px;
}
.projects-list-item {
  flex-basis: calc((100% - 20px) / 4);
}

.projects-item-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.projects-item-text {
  font-family: 'DM Serif Display';
  font-weight: 400;
  font-size: 25px;
  line-height: 35px;
  letter-spacing: 0.5px;
  color: #292F36;
  margin-bottom: 10px;
}

.projects-item-date {
  font-family: 'Jost';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.22px;
  color: #4D5053;
}

.project-item-action {
  align-items: flex-end;
}